html {
    scroll-behavior: smooth;
  }

  /* .main-content {
    margin: 0;
    display: flex; */
    /* grid-template-columns: min-content 1fr; */
    /* font-family: system-ui, sans-serif; */
    
    /* this breaks position sticky in Firefox */
    /* overflow-x: hidden; */
  /* }  */
  .section-heading{
    position: -webkit-static;
    position: static;
    top: -1px;
  }


  @media only screen and (max-width: 500px) {
    /* For Mobile: */
    .side-nav{
      display: none !important;
    }
    main{
      width:100%;
    }
    .section-heading{
      background: black;
      border-bottom: 1px solid #989EA4;
      border-top: 1px solid #717D85;
      color: #FFF;
      font: bold 14px18px Helvetica, Arial, sans-serif;
      margin: 0;
      padding: 2px 0 0 12px;
      position: -webkit-sticky;
      position: sticky;
      top: -1px;
    }
  }


  .side-nav {
    white-space: nowrap;
    background: #37474F;
    position: sticky;
    min-height: 94vh;
  top: 40px;
  
  vertical-align: top;
  display: inline-block;
  width: 15%;
  }
  .side-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  /* Only stick if you can fit */
  @media (min-height: 300px) {
    .side-nav ul {
      position: sticky;
      top: 0;
    }
  }
  .side-nav ul li a {
    display: block;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
  }
  .side-nav ul li a.current {
    background: black;
  }
  main {
    padding-bottom: 40rem;
    display: inline-block;
    width: 80%;
  }
  section {
    padding: 2rem;
    margin: 0 0 2rem 0;
  }
  