.sec-head, .infra_heading
{
  margin-top: 25px;
  font-size: 1.1rem;
  font-weight: 600;
  color:#3931af;
}
.color-blue
{
  color:#3931af;
}
.nav-logo-show{
  display:block;
}
.nav-logo-hide{
  display: none;
}
.sub-head, .subheading
{
  font-size: 1.1rem;
  font-weight: 500;
  color:#ffa500;
}

.color-yellow
{
  color:#ffa500;
}
.flex-center
{
  display:flex;
  justify-content:center;
  align-items:center;
}

html {
    scroll-behavior: smooth;
  }
  #bg-col
  {
    background-color:#ffffffe3;
  }
*
{
  text-align: justify;
  font-family: Calibri;
 
}
  /* .main-content {
    margin: 0;
    display: flex; */
    /* grid-template-columns: min-content 1fr; */
    /* font-family: system-ui, sans-serif; */
    
    /* this breaks position sticky in Firefox */
    /* overflow-x: hidden; */
  /* }  */
  .section-heading{
    position: -webkit-static;
    position: static;
    top: -1px;
    font-family: 'Crete Round', serif;
    font-size: 1.6rem;
    text-shadow: -3px 1px 1px #c6c6c6;
    /* font-size:1.8rem; */
   
  }
  .section-heading::after{
    content: '';
    /* border:1px solid #37474F; */
    height: 2px;
    background-image: linear-gradient(to right,#ffa500,#edeceb);
    display:block;
  }
  .h1
  {
    font-size:2rem !important;
  }


  @media only screen and (max-width: 500px) {
    /* For Mobile: */
    .side-nav{
      display: none !important;
    }
    main{
      width:100% !important;
      
    }
    /* .section-heading{
      
      
      margin: 0;
      padding: 2px 0 0 12px;
      position: -webkit-sticky;
      position: sticky;
      top: -1px;
    } */
  }


  .side-nav {
    white-space: nowrap;
    background: #37474F;
    position: sticky;
    min-height: 94vh;
  top: 40px;
  
  vertical-align: top;
  display: inline-block;
  width: 15%;
  }
  .side-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  /* Only stick if you can fit */
  /* @media (min-height: 300px) {
    .side-nav ul {
      position: sticky;
      top: 0;
    }
  } */
  .side-nav ul li a {
    display: block;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
  }
  .side-nav ul li a.current {
    background: black;
  }
  main {
    /* padding-bottom: 40rem; */
    display: inline-block;
    width: 80%;
    min-height: 100vh;
  }
  section {
    padding: 2rem;
    margin: 0 0 2rem 0;
  }
  