.sec-head, .infra_heading
{
  margin-top: 25px;
  font-size: 1.1rem;
  font-weight: 600;
  color:#3931af;
}
.color-blue
{
  color:#3931af;
}
.nav-logo-show{
  display:block;
}
.nav-logo-hide{
  display: none;
}
.sub-head, .subheading
{
  font-size: 1.1rem;
  font-weight: 500;
  color:#ffa500;
}

.color-yellow
{
  color:#ffa500;
}
.flex-center
{
  display:flex;
  justify-content:center;
  align-items:center;
}

html {
    scroll-behavior: smooth;
  }
  #bg-col
  {
    background-color:#ffffffe3;
  }
*
{
  text-align: justify;
  font-family: Calibri;
 
}
  
  .section-heading{
    position: -webkit-static;
    position: static;
    top: -1px;
    font-family: 'Crete Round', serif;
    font-size: 1.6rem;
    text-shadow: -3px 1px 1px #c6c6c6;
    /* font-size:1.8rem; */
   
  }
  .section-heading::after{
    content: '';
    /* border:1px solid #37474F; */
    height: 2px;
    background-image: linear-gradient(to right,#ffa500,#edeceb);
    display:block;
  }
  .h1
  {
    font-size:2rem !important;
  }

  @media only screen and (min-width: 501px) {
    /* For Mobile: */
    .lg-scrn
    {
      display:none !important;
    }
  }
  @media only screen and (max-width: 500px) {
    /* For Mobile: */
    #achnmile
    {
      text-align:center;
    }
    .smll-scrn
    {
      display:none !important;
    }
    .side-nav{
      display: none !important;
    }
    main{
      width:100% !important;
      
    }
    /* .section-heading{
      
      
      margin: 0;
      padding: 2px 0 0 12px;
      position: -webkit-sticky;
      position: sticky;
      top: -1px;
    } */
  }


  .side-nav {
    white-space: nowrap;
    background: #37474F;
    position: sticky;
    min-height: 94vh;
  top: 40px;
  
  vertical-align: top;
  display: inline-block;
  width: 15%;
  }
  .side-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
 
  .side-nav ul li a {
    display: block;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
  }
  .side-nav ul li a.current {
    background: black;
  }
  main {
    /* padding-bottom: 40rem; */
    display: inline-block;
    width: 80%;
    min-height: 100vh;
  }
  section {
    padding: 2rem;
    margin: 0 0 2rem 0;
  }
  ::-webkit-scrollbar {
    width: 15px;
  }
  ::-webkit-scrollbar-track-piece{
    background: #eaeaea;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #6c757d; 
    border-radius: 7px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #343a40; 
  }
  #canvas {
    position: relative;
    bottom: -10px;
    left: 0;
    max-block-size: 140px;
    max-width: -webkit-fill-available;
    /* z-index:-1; */
  }
    html {
    scroll-behavior: smooth;
  }
  iframe{width:100%}
  .nav-head{
    /* border-top: 4px solid #ffcc00; */
    background-color:white;
  }
  .animated {
      -webkit-animation-duration: 1s;
      animation-duration: 0.4s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
  }
  .dropdown-menu 
  {
    top:95%;
  }
  .foot{
    position: relative;
    background-color: #d8d7d3; 
    background:linear-gradient(rgba(255,255,255,.92),rgba(255,255,255,0.48)), url(video/95.jpg);
    /* background-repeat: no-repeat; */
    padding-top: 60px ;
  }
  .dropdown-item:hover {
      color: white;
      font-weight: 500;
      text-decoration: none;
      background-color: #f1b114;
  }
  .make-bg{
    z-index: -100;
  }
  .content {
      background-color:#ffffffe3;
  }
  .navbar{
    border-top: 4px solid #f1b114;
    padding-top:0;
    padding-bottom: 0;
    /* box-shadow: 2px 2px 3px 1px #ffcc00; */
    background-color:#18387f!important;
  }
  .navbar-nav {
    width: 100%;
    justify-content: flex-end;
  }
  .navbar-light .navbar-nav .nav-link {
      font-weight: 300;
      color: rgb(255, 255, 255);
  }
  .navbar-light .navbar-nav .active>.nav-link {
    font-weight: 400;
    color: rgb(255, 255, 255);
  }
  .navbar-light .navbar-nav .nav-link:hover {
      color: rgb(255, 255, 255);
      background-color: #f1b114;
  }
  .navbar-light .navbar-nav .nav-link:focus {
    color: rgb(255, 255, 255);
      background-color: #f1b114;
  }
  .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(255, 255, 255);
      background-color: #f1b114;
  }
  .video-bg
  {
    position:sticky;
    top:40px; 
    width: 100%;
  }
  .imageicon {
      -webkit-animation:spin 0.7s linear infinite;
      -moz-animation:spin 0.7s linear infinite ;
      animation:spin 0.7s linear infinite ;
      /* -webkit-animation:spin 0.3s linear ;
      -moz-animation:spin 0.3s linear ;
      animation:spin 0.3s linear; */
      /* animation-iteration-count:1.5; */
  
  }
  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
  
  
  /* footer css */
  #footer h5{
    padding-left: 10px;
      border-left: 3px solid #f1b114;
      padding-bottom: 6px;
      margin-bottom: 20px;
      color:#18387f;
  }
  #footer li a {
      color: #ffffff;
      text-decoration: none !important;
      background-color: transparent;
      -webkit-text-decoration-skip: objects;
  }
  #footer ul.social li{
    padding: 3px 0;
  }
  #footer ul.social li a i {
      margin-right: 5px;
    font-size:25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
  }
  #footer ul.social li:hover a i {
    font-size:30px;
    margin-top:-10px;
  }
  
  #footer ul.quick-links li a{
    color:#343a40;
    font-weight:600;
  }
  
  #footer ul.quick-links li{
    padding: 3px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
  }
  #footer ul.quick-links li:hover{
    padding: 3px 0;
    margin-left:5px;
    font-weight:700;
  }
  #footer ul.quick-links li a i{
    margin-right: 5px;
  }
  #footer ul.quick-links li:hover a i {
      font-weight: 700;
  }.back-to-top {
      position: fixed;
      display: none;
      background: #f1b114e3;
      color: #fff;
      width: 44px;
      height: 44px;
      text-align: center;
      line-height: 1;
      font-size: 16px;
      border-radius: 50%;
      right: 15px;
      bottom: 7px;
      transition: background 0.5s;
      z-index: 11;
  }
  .back-to-top i {
      padding-top: 7px;
      /* color: #18387f; */
      font-size:23px;
  }
  /* .social-icons
  {
    position: fixed;
    right: -70px;
    transition: 0.3s;
    padding: 5px;
    width: 80px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
    top: 30%;
    background-color: #18387f;
  }
  .social-icons:hover{
    right:0px;
  } */
  
  @media (max-width:767px){
    #footer h5 {
      padding-left: 0;
      border-left: transparent;
      padding-bottom: 0px;
      margin-bottom: 10px;
  }
  }
  #mySidenav a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
  }
  
  #mySidenav a:hover {
    left: 0;
  }
  
  #iso {
    top: 20%;
    /* background-color: #4CAF50; */
  }
  .carousel-width{
    height:80vh !important;
    text-align: center;
  }
  .carousel-inner{
    height:80vh !important;
  }
  .padding-around{
    padding: 20px 10px 20px 10px;
  }
  .box-shadow-padding{
    border-radius: 5px;
    padding: 15px 10px 15px 10px;
    box-shadow: 3px 3px 14px 1px grey;
    background-color: white;
  }
  #vol_hand
  {
    /* width:87%; */
  }
  #green-cont
  {
    height:220px;
  }

 